@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700);

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.dark-mode {
  background: #333;
  color: #fff;
}

.warning-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%; /* Adjust width as needed */
  max-width: 600px; /* Set maximum width */
  text-align: center;
}

h1 {
  font-weight: 100;
  font-size: 2em; /* Adjust font size as needed */
  color: #7FB069; /* Adjust the color as needed */
}

p {
  font-weight: 300;
  color: #BBB; /* Adjust the color as needed */
}

/* Media query for smaller screens */
@media only screen and (max-width: 600px) {
  .warning-content {
    width: 90%;
  }
}
